**.egg-info**
**.o**
**.mp4**
**.pyc**
**.GIF**
**.sh**
**.zarr**
**.parquet**
**SaWS_downloads**
Input_data_test/
**/**copernicus_marine_data**/*.nc
**/**copernicus_marine_data**/*.zarr

# pixi environments
.pixi/*
!.pixi/config.toml
**.DS_Store
